# Python's automatic creation of unnecessary files
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.DS_Store
*.egg-info/
*.eggs/
*.coverage
.coverage.*
*.cache
*.pytest_cache/
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment folders
venv/
.venv/

# PyCharm Project Settings
.idea/

# Python Packages That Should Not Be Tracked by Git
Pipfile
Pipfile.lock
poetry.lock

# Environmental Variables (API keys, database information)
.env
*.env
*.secrets

# SQLite and Other Database Files
*.sqlite3
*.db
*.db-journal
instance/

#  Flask Cache and Logs
*.log
logs/
flask_session/
flask_cache/
*.pid
nohup.out

# Debug and Temp Files
debug.log
*.tmp
*.bak

# Node.js and Frontend
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Docker
docker-compose.override.yml
.dockerignore

# Ignoring uploads
static/uploads/


