{% include "header.html" %}

<header class="masthead" style="background-image: url('../static/assets/img/wf-bg-v8.png')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1 class="wf-gradient-text">About</h1>
          <span class="subheading">This is what we do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          WonderFloyd is a blog platform created with love 💖 to share wonders of science, technology, and curious ideas with the world.
        </p>
        <p>
          This project is powered by Flask, Bootstrap, and the magic of curiosity. Articles and news are published every Wednesday and Sunday.
        </p>
        <p>
          Designed to be minimalist, mobile-friendly, and beautiful in both dark and light modes 🌗.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}