{% include "header.html" %}

<header class="masthead" style="background-image: url('../static/assets/img/wf-bg-v1.png')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-11 col-lg-9 col-xl-9">
        <div class="site-heading">
          <h1 class="wf-gradient-text">WonderFloyd</h1>
          <span class="subheading">Reliable, Informative, Enjoyable</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Category Filter Buttons -->
<div class="container my-4 text-center">
  <div id="category-buttons" class="d-flex flex-wrap justify-content-center gap-2">
    <button class="btn btn-outline-primary active" data-category="0">All</button>
    <button class="btn btn-outline-primary" data-category="1">Wonders</button>
    <button class="btn btn-outline-primary" data-category="2">Science & Tech</button>
    <button class="btn btn-outline-primary" data-category="3">Others</button>
  </div>
</div>

<!-- Main Content -->
<div class="container px-4 px-lg-5 mt-3">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-11 col-lg-9 col-xl-9">

      <!-- Dynamic Post List -->
      <div id="post-list">
        {% include "partials/post-list.html" with context %}
      </div>

      <!-- Add New Post Button (if admin=true) -->
      {% if current_user.is_authenticated and current_user.id == 1 %}
        <div class="d-flex justify-content-end mb-4">
          <a class="btn btn-primary float-right" href="{{ url_for('add_new_post') }}">Create New Post</a>
        </div>
      {% endif %}

      <!-- Load More -->
      <div class="d-flex justify-content-center my-4">
        <button id="load-more" class="btn btn-outline-primary"
                style="display: {{ 'inline-block' if initial_has_more else 'none' }};">
          Load More Posts
        </button>
      </div>

    </div>
  </div>
</div>

{% include "footer.html" %}
